useDynLib(drclust, .registration=TRUE)
importFrom("Rcpp", evalCpp)
importFrom("graphics", "segments")
importFrom("stats", "cov", "dist", "hclust")
exportPattern("^[[:alpha:]]+")
import("RcppArmadillo")
import("fpc")
import("cluster")
import("factoextra")
import("pheatmap")
export("doublekm", "redkm", "factkm", "dpcakm", "dispca", "disfa")
export("apseudoF", "dpseudoF", "cluster", "silhouette", "kaiserCrit", "centree", "heatm")
export("CronbachAlpha", "mrand")
